@charset "utf-8";
/* CSS Document */

@font-face { font-family: 'Open Sans', sans-serif; src: url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800);}
@font-face { font-family: 'Handlee', cursive; src: url(https://fonts.googleapis.com/css?family=Handlee);}

@font-face {font-family:'Poppins'; font-weight: bold; src: url("../fonts/Poppins-Bold.ttf");}
@font-face {font-family:'Poppins'; src: url("../fonts/Poppins-Regular.ttf");}
@font-face {font-family:'Poppins'; font-weight: 600; src: url("../fonts/Poppins-SemiBold.ttf");}
@font-face {font-family:'Poppins'; font-weight: 500; src: url("../fonts/Poppins-Medium.ttf");}
@font-face {font-family:'Poppins'; src: url("../fonts/Poppins-Regular.ttf");}




img, video, canvas {max-width: 100%;}

h1 {color:#000000; font-size:33px; font-family: 'Poppins', sans-serif; font-weight: 500; margin:0px ; padding:0px;}
h1.icon-head {position: relative; text-align: center; padding-top: 45px; padding-bottom: 10px; font-weight: bold;}
h1.icon-head::before {content: ""; position: absolute; width: 40px; height: 40px; background: url("../images/panda-icon.png") no-repeat; top: 0; left: 50%; transform: translateX(-50%);}
h1.icon-head::after {content: ""; position: absolute; width: 80px; height: 3px; background: #ffa500; margin:auto; bottom: 0; left: 0; right: 0;}

h1.back {font-size:9vw; position: absolute; font-weight: bold; color: #f0f0f0; margin: 0px auto; z-index: -1; width: 100%; top: 4%; text-align: center;}
h1.back-w {font-size: 9vw; position: absolute; font-weight: bold; color: #e6e6e6; margin: 0px auto; z-index: 0; width: 100%; top: 4%; text-align: center;}

h2 {color:#ffffff; font-size:25px; font-family: 'Akhand', sans-serif; text-transform:uppercase; font-weight:bold;}
h3 {color:#ffffff; font-size:15px; font-family: 'Poppins', sans-serif; font-weight:300;}
h3::after {content: ""; position: absolute; border-bottom: 1px solid #696969; left: 15px; top: 42px; width: 80%;}
h3 a{color:#ffffff; text-decoration:none; background: #005192; display: block; border-radius: 10px 10px 0px 0px; padding-top: 5px; padding-bottom: 5px; margin-bottom: 0px;}
h3 a:hover{color:#ffffff; text-decoration:none;}
h4 {color:#025aaf; font-size:16px;  font-family: 'Poppins', sans-serif; text-transform:uppercase; font-weight:700;}
h5 {font-size:18px; font-family: 'Open Sans', sans-serif; font-weight:600;}
h6 {color:#ffffff; font-size:20px; font-family: 'Open Sans', sans-serif; text-transform:uppercase; font-weight:800;}

hr {width:40px; height:3px; background:#0094de; margin:10px auto;}

ul {padding:0px; margin:0px;}

body {color:#787878; font-size:15px; font-family: 'Poppins', sans-serif;}
.section-text {font-size:18px; font-weight:bold; line-height:30px; font-family: 'Poppins', sans-serif; color:#db0c1e;}

section {position: relative;}

p {padding-bottom:10px;}

.orange-text {color:#ff7403;}
.white-text {color:#ffffff;}
.yellow-text {color:#ff9900;}
.grey-text {color:#151515; line-height:27px;}
.grey-text a{color:#151515;}
.grey-text a:hover{color:#035d9b; text-decoration:none;}
.blue-text {color:#035d9b;}

.bottom-border-blue::after {content: ''; display: block; background: #035d9b; height: 2px; width: 100%; margin: 10px auto;}

.bottom-border-white::after {content: ''; display: block; background: #ffffff; height: 1px; width: 100%; margin: 10px auto;}

span.orange-text::after {content: ''; display: block; background: #035d9b; height: 2px; max-width: 500px; width: 100%; margin: 10px auto;}



.dark-bg {background:#c20818;}

.right-dotted-border {border-right:1px dashed #ffffff;}
.clear {clear:both;}
.space10 {height:10px;}
.space15 {height:15px;}
.space20 {height:20px;}
.space25 {height:25px;}
.space30 {height:30px;}
.space35 {height:35px;}

.font12 {font-size:12px;}
.font13 {font-size:13px;}
.font14 {font-size:14px;}
.font15 {font-size:15px;}
.font16 {font-size:16px;}
.font17 {font-size:17px;}
.font18 {font-size:18px;}
.font19 {font-size:19px;}
.font20 {font-size:20px;}
.font21 {font-size:21px;}
.font22 {font-size:22px;}


.pos-rel {position: relative;}
.pos-abs {position: absolute;}

.pad5 {padding:5px;}
.pad10 {padding:10px;}
.pad15 {padding:15px;}
.pad20 {padding:20px;}

.marg5 {margin:5px;}
.marg10 {margin:10px;}
.marg15 {margin:15px;}
.marg20 {margin:20px;}

.no-padding {padding:0px;}


.top-padding {padding-top:15px;}
.top-padding10 {padding-top:10px;}
.top-padding15 {padding-top:15px;}
.top-padding20 {padding-top:20px;}
.top-padding25 {padding-top:25px;}
.top-padding35 {padding-top:35px;}
.top-padding50 {padding-top:50px;}
.top-padding100 {padding-top:100px;}
.top-padding200 {padding-top:200px;}
.bottom-padding10 {padding-bottom:10px;}
.bottom-padding20 {padding-bottom:20px;}
.bottom-padding30 {padding-bottom:30px;}
.bottom-padding40 {padding-bottom:40px;}
.bottom-padding50 {padding-bottom:50px;}
.bottom-padding60 {padding-bottom:60px;}
.bottom-padding70 {padding-bottom:70px;}
.bottom-padding100 {padding-bottom:100px;}
.top-bottom-padding {padding-top:15px; padding-bottom:15px;}
.top-bottom-padding5 {padding-top:5px; padding-bottom:5px;}
.top-bottom-padding10 {padding-top:10px; padding-bottom:10px;}
.top-bottom-padding30 {padding-top:30px; padding-bottom:30px;}
.top-bottom-padding45 {padding-top:45px; padding-bottom:45px;}
.top-bottom-padding50 {padding-top:50px; padding-bottom:50px;}
.top-bottom-padding60 {padding-top:60px; padding-bottom:60px;}
.top-bottom-padding70 {padding-top:70px; padding-bottom:70px;}
.top-bottom-padding100 {padding-top:100px; padding-bottom:100px;}

.no-margin {margin:0px;}
.no-bottom-margin {margin-bottom:0px;}
.no-top-margin {margin-top:0px;}

.top-bottom-margin5 {margin-top:5px; margin-bottom:5px;}
.top-bottom-margin10 {margin-top:10px; margin-bottom:10px;}
.top-bottom-margin15 {margin-top:15px; margin-bottom:15px;}

.margin-auto {margin:0px auto;}

.top-margin {margin-top:60px;}
.top-margin10 {margin-top:10px;}
.top-margin20 {margin-top:20px;}
.top-margin30 {margin-top:30px;}
.top-margin40 {margin-top:40px;}
.top-margin50 {margin-top:50px;}


.left-margin10 {margin-left: 10px;}
.right-margin10 {margin-right:10px;}

.gradient-bg {background: linear-gradient(to right, #e9e9e9 50%, #f1f1f1 50%);}

.bottom-margin10 {margin-bottom:10px;}
.bottom-margin15 {margin-bottom:15px;}
.bottom-margin20 {margin-bottom:20px;}
.bottom-margin30 {margin-bottom:30px;}
.bottom-margin40 {margin-bottom:40px;}
.bottom-margin50 {margin-bottom:50px;}

.line-height25 {line-height:25px;}
.line-height30 {line-height:30px;}
.line-height35 {line-height:35px;}
.line-height40 {line-height:40px;}
.line-height45 {line-height:45px;}
.line-height50 {line-height:50px;}

.left-padding {padding-left:15px;}

.col-lg-half {width: 4.166666665%; float:left; position: relative; min-height: 1px; padding-right: 15px; padding-left: 15px;}

.gallery > div {margin-bottom:10px;}

textarea {margin:5px 0px;}
.blue-button {width:30%; background:#00375d; border:0px; line-height:35px; font-size:14px; font-weight:800; margin:5px 0px; color:#ffffff;}
.blue-button2 {width:15%; background:#00375d; border:0px; line-height:35px; font-size:14px; font-weight:800; margin:5px 0px;}

.horizontal-scroll {overflow-x:scroll; overflow-y: hidden;}


.logo {padding-top: 10px;}

.black-button {background: #000000; padding: 12px 25px; outline: 1px solid #ffffff; outline-offset: -5px; font-weight: 500; border: 0px; color: #ffffff;  font-size: 14px;}
.black-button:hover {background: #ffffff; outline: 1px solid #000000; outline-offset: 0px; color: #000000; transition: all .5s ease-in-out;}

.white-button {background: #ffffff; padding: 12px 25px; outline: 1px solid #000000; outline-offset: -5px; font-weight: 500; border: 0px; color: #000000;  font-size: 14px; margin-left: 10px;}
.white-button:hover {background: #000000; outline: 1px solid #ffffff; outline-offset: 0px; color: #ffffff; transition: all .5s ease-in-out;}

.yellow-button {background: #ffa500; padding: 12px 25px; outline: 1px solid #000000; outline-offset: -5px; font-weight: 500; border: 0px; color: #000000;  font-size: 14px; }
.yellow-button:hover {background: #000000; outline: 1px solid #ffa005; outline-offset: 0px; color: #ffffff; transition: all .5s ease-in-out;}


.outline {outline: 2px solid #ffffff; outline-offset: -10px;}

.blue-bg {background: #025aaf;}
.light-grey-bg {background: #f0f0f0;}
.grey-bg {background: #f5f5f5;}
.light-blue-bg {background:#91d2ff;}
.light-blue-bg2 {background:#c7e8ff;}

ul {list-style: none;}

.contact-form .col-lg-12 {padding:0px;}

.dropdown-menu .divider {margin:0px;}

.white-links a{color:#ffffff; text-decoration:none; line-height:40px;}
.white-links a:hover{color:#ffffff; text-decoration:none;}

.blue-links a{color:#035CF9; text-decoration:none; line-height:40px;}
.blue-links a:hover{color:#035CF9; text-decoration:none;}



.right-float {float:right;}
.left-float {float:left;}
.none-float {float:none;}
	
.p100 {width:100%;}

.white-bg {background:#ffffff; display:block;}

.width-45 {width:45%;}

header {padding: 0px 100px;}
.logo img {width: 250px;}


.icon-bar {background:#ffffff;}

.navibar{position: absolute; background-color: transparent; width: 100%; top: 0; left: 0; z-index: 999; transition: .3s linear;}
.inner-width{width: 90vw; margin: auto;}
.navibar .inner-width{display: flex; align-items: center; justify-content: space-between;}
.menu-toggler{background: none;  width: 30px;  border: none;  cursor: pointer;  position: relative;  outline: none;  z-index: 999;  display: none;}
.menu-toggler span{  display: block;  height: 4px;  background-color: #000;  margin: 4px 0;  position: relative;  transition: .3s linear; width: 25px;}
.navibar-menu a{color: #000000; text-transform: uppercase; font-size: 16px;  font-weight: 500;  margin-left: 35px;  transition: .2s linear;}
.navibar-menu a:first-child {margin-left: 0px;}
.navibar-menu a:hover{color: #000000; text-decoration: none; border-bottom: 2px solid #000; padding-bottom: 5px;}
.navibar-menu a:focus, .navibar-menu a:visited, .navibar-menu a:active {text-decoration: none;}
#banner-area {width: 100%; margin: 0px auto; background: #f2f2f2;}
.carousel-inner {border-radius: 0px 0px 100px 100px;}
.banner {overflow: hidden;}
.left-side {position: relative;}
/*.left-side::before {content:'Pixels Panda'; position: absolute; font-size: 11vw; color: rgba(0,0,0,0.03); font-weight: bold; line-height: 100%; width: 100%; text-align: center; top: 50%; left: 50%; transform: translate(-50%,-50%); text-transform: uppercase; z-index: -1;}*/

.banner .row::before {content: 'Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda Pixels Panda '; position: absolute; top: 0; left: 0; font-size: 3vw; color: rgba(0,0,0,0.03); font-weight: bold; line-height: 100%; width: 100%; height: 100%; text-transform: uppercase; z-index:-1; overflow: hidden; }

.banner .row {display: flex; align-items: center; position: relative; z-index: 0;}
.banner .item {padding-top: 0px; padding-bottom: 0px;}
/*.banner .banner-text {padding-left: 150px;}*/
.banner p{color: #000; font-size: 19px; font-weight: 500;}
.banner p img{margin-right: 10px; width: 35px;}
.banner h1{font-size: 40px; border-left: 1px solid #000; padding-left: 20px; margin-bottom: 20px; font-weight: 600;}
.banner button {width: 120px;}
.carousel-control {width: 9%;}
.carousel-control.left, .carousel-control.right {background-image: none;}
.carousel-indicators .active {background-color: #333;}
.carousel-indicators li {border-color: #333;}
.left-side {width: 60%;}
.right-side {width: 40%;}
.banner-image {padding-top: 90px; padding-bottom: 50px; height: 100%; background: #ffa005;}
.banner-image img {margin-left: -200px;}
.slide1, .slide2, .slide3 {background: none;}



.responsive .head-image {margin-right: 10px;}


.experience > div {position: relative}
.experience img {outline: 1px solid #ffffff; outline-offset: -15px;} 
.experience .white-button{position: absolute; margin: 0px auto; top:50%; left: 50%; font-weight: 600; transform: translate(-50%,-50%); outline: none; border-radius: 5px; text-transform: uppercase; font-size: 15px; background: #ffa005;}
.experience > div:hover .white-button{width: 93%; height: 100%; background: rgba(255,165,0,.92); font-size: 35px; font-weight: bold; transition: all .5s ease-in-out; outline: 1px solid #ffffff; outline-offset: -15px; border-radius: 0px; top: 50%;}

.industry ul {display: flex; flex-wrap: wrap; justify-content: space-around;}
.industry li {line-height: 25px; outline: 1px dashed #000; background: #fff; color: #4D4D4D; flex-basis: 115px; height: 115px; display: flex; flex-direction: column; align-items: center; justify-content: center; font-weight: 600; font-size: 14px; margin-bottom: 20px;}

.industry li:hover {background: #ffa005; cursor: pointer; color: #000; transition: all .2s ease-in-out; outline-offset: -7px;}
.industry li img {width: 35px; margin-bottom: 5px;}
.industry li:last-child {line-height: 18px;}

	.device-image {width: 20%; display: none;}

.icon-box-big {display: flex; flex-wrap: wrap;}
.icon-box {background:#ffffff; padding: 25px 15px; outline: 1px dashed #000000; width: 92%; justify-content: space-between; display: flex; margin-bottom: 15px; height: 90%;}
.icon-box:hover {background: #f0f0f0; color: #000; cursor: pointer; outline-offset: -7px; transition: all .5s ease-in-out;}
.icon-box:hover .img {transform: rotate(360deg); transition: all .5s ease-in-out;}
.icon-box .img {width: 40px; height: 40px; color: #000000; display: flex; border-radius: 50%; background: #ffa005; font-size: 18px; font-weight: 500s; align-items: center; justify-content:center; flex: 0 0 auto;}
.icon-box .content {padding-left: 10px; text-align: left; color: #000; font-size: 14px; word-break: break-all;}

.feature-box-big {}
.feature-box-back {position: relative;}
.feature-box {border: 1px solid #000000; display: flex; align-content: space-between; flex-direction: column; width: 100%; color: #000; padding: 35px; font-size: 14px; word-break: break-all; line-height: 22px;}
.feature-box strong {margin-top: 15px; margin-bottom: 15px;}
.feature-box img {flex-basis: 0 0 43px; max-width: 43px;}

.feature-box-hover {background: #ffa005; color: #fff; width: 100%; padding: 35px; position: absolute; top: 0; height: 100%; clip-path:inset(100% 0% 0% 0%); transition: all .4s ease-in-out; outline: 1px solid #ffffff; outline-offset: -8px;}
.feature-box-back:hover .feature-box-hover {clip-path:inset(0% 0% 0% 0%);}
.feature-box-hover p {font-weight: 500; }
.feature-box-hover button {margin: 0px;}

.social-media {color: #000000;}
.social-media li{}
.social-box {display: flex;}
.social-box .line img {width: 100%; height: 1px; margin-top: 10px;}
.social-box .line {flex: 1;}
.social-box ul {display: flex; flex-direction: row; margin: 0px 10px;}
.social-box li {margin: 0px 5px; width: 35px; height: 35px; text-align: center;  border-radius: 50%; font-size: 15px;}
.social-box li:hover {cursor: pointer; transition: all .3s ease-in; filter: grayscale(0%); margin-top: -10px;}


.services p {font-size: 15px; line-height: 18px;}


.responsive-box {display: flex;}
.responsive-box ul {width: 80%; margin-left: 0px;}
.responsive-box li i{line-height: 30px; color: #ffa500; margin-right: 10px;}


.btn {padding:0px;}

.btn-default {padding:10px 25px; background:#ff9900; border:none;}
.btn-default:hover, .btn-default:active:focus {background:#a40816;}

.btn-primary {background-color:transparent; border:none; color:#ffffff; font-size:13px;}
.btn-primary:hover, .btn-primary:focus {background-color:inherit; border:none;}


.btn-primary:active:hover, .btn-primary.active:hover, .open>.dropdown-toggle.btn-primary:hover, .btn-primary:active:focus, .btn-primary.active:focus, .open>.dropdown-toggle.btn-primary:focus, .btn-primary:active.focus, .btn-primary.active.focus  {
	background-color:transparent;
	border-color: transparent;}

.glyphicon {top:0px;}

a:active, a:focus, a:visited {outline: none; border-bottom: 0px;}


.contact-area {background:url(../images/banner-bg5.jpg) center center; padding-top: 80px; padding-bottom: 80px;}
.contact-area h1 {color: #ffffff;}
.contact-area p {width: 100%;}

form {display: flex; justify-content: space-between;}
.input-container {position:relative; margin-bottom:25px;}
.input-container label{position:absolute; top:0px; left:0px; font-size:15px; font-weight: 700; color:#fff; pointer-event:none; transition: all 0.5s ease-in-out;}
.input-container input{border:0; border-bottom:1px solid #555; background:transparent; width:100%; padding:8px 0 5px 0; font-size:16px; color:#fff; display: flex;}
.input-container input:focus{border:none; outline:none; border-bottom:1px solid #ffa005;}

.input-container input:focus ~ .head {top: -12px; font-size:12px;}

.yellow-btn {background: #ffa500; padding: 12px 25px; outline: 1px solid #000000; outline-offset: -5px; font-weight: 500; border: 0px; color: #000000; margin-top: -4px; font-size: 14px; }
.yellow-btn:hover {background: #000000; outline: 1px solid #ffa005; outline-offset: 0px; color: #ffffff; transition: all .5s ease-in-out;}


footer {font-size: 13px;color: #ffffff;}
footer a{color:#ffffff; text-decoration:none;}
footer a:hover {color:#db0c1e; text-decoration:none;}
footer li {margin-bottom: 7px;}
footer .upper {background: #23272a; display: flex;}
footer .upper p {width: 75%;}
footer .lower {background: #000000; padding-top: 30px; padding-bottom: 30px; color: #ffffff;}


@media (max-width: 1200px) {
.container {width:95%;}

	.logo {text-align: center; padding-top: 7px; padding-bottom: 7px;}
	

 	header .top-margin20 {margin-top:20px; text-align:center;}
	.banner-text {padding-left: 90px;}
	.banner h1 {font-size: 30px;}
	.banner-image img {margin-left: -120px;}
	.banner p {font-size: 17px;}
	.feature-box {padding: 25px; width: 100%;}
	
	.top-bottom-padding100 {padding-top: 60px; padding-bottom: 60px;}
	
	.industry li {flex-basis: 100px; height: 100px;}
	

}


@media (max-width: 1087px) {
	.col-lg-half {float: left;}
	header {padding: 0px 30px;;}
	.container {width:95%;}

	.icon-box .content {word-break: keep-all;}


}





@media all and (max-width: 990px) {

	header {padding: 0px;}

	.container {width:95%;}
	

	.industry li {flex-basis: 130px; height: 130px;}
	
	.banner .banner-text {padding-left: 100px; }
	.banner-image { padding-top: 130px;}
	.banner-image img {margin-left: -80px;}
	.inner-width {width: 90vw;}
	.banner h1 {font-size: 25px;}
	.banner p {font-size: 16px;}
	.logo img {width: 200px;}
	.navibar-menu a {margin-left: 30px;}
	.feature-box  {margin-bottom: 20px;}
	
	.section-image img{width: 50%; margin-bottom: 20px;}
	.section-image .top-padding50 {padding-top: 20px;}
	.our-experience .bottom-padding50 {padding-bottom: 0px;}
	
	.responsive h1 {font-size: 27px;}
}

@media all and (max-width:900px){

.menu-toggler{ display: block;  }
.navibar-menu{ position: absolute; height: 100vh; width: 50%; background-color: #000000; top: 0; right: -100%;  max-width: 400px; padding: 80px 0px;    transition: .3s linear;}
.navibar-menu a{display: block; font-size: 20px; margin: 0px; padding: 15px 35px; color: #ffffff;}
.navibar-menu a:hover{color: #ffa005; background: #1d1d1d; text-decoration: none;}
	.navibar-menu a:hover, .navibar-menu a:active,.navibar-menu a:hover, .navibar-menu a:visited, .navibar-menu a:focus {outline: 0px; border: 0px; text-decoration: none;}
.navibar-menu.active{right: 0;}
.menu-toggler.active span:nth-child(1){transform: rotate(-45deg); top: 6px; background: #fff;}
.menu-toggler.active span:nth-child(2){opacity: 0;}
.menu-toggler.active span:nth-child(3){transform: rotate(45deg); bottom: 10px; background: #fff;}
	
}



@media all and (max-width: 767px) {
	
	.navibar {position: relative; border-bottom: 1px dashed #8b8b8b;}
	.container {width: 90%;	}
	
	h3:after {top: 20px; width: 95%;}
	
	.top-bottom-padding100 {padding-top:50px; padding-bottom:50px;}

	header {padding: 0px; width: 100%; margin: 0px auto;}
	header li {width:100%; float:left; text-align:center;}
	header > .container {width:100%;}
	header li > ul > li {width:50%; border-top:none; border-bottom:none;}
	
	.container-fluid > .navbar-header {margin:0px;}
	
	.logo {text-align:center; padding:5px 0px;}
	
	
.banner {padding-top: 30px;}
#banner-area {background: #ffffff;}
.header {position: inherit; width: 100vw; background: #fff; left: 0;}

.banner .item {padding: 0px;}


.left-side,.right-side {width: 100%;}
.banner-text .top-margin20{margin-top: 0px;}


	.banner .row {flex-direction: column;}
	.banner .row .col-lg-7 {order: 1;}
	.banner .row .col-lg-5 {order: 2;}
	.banner .banner-text {padding-left: 0px; text-align: center;}
	.banner {border-radius: 0px 0px 25px 25px;}
	.banner .banner-image {text-align: center; padding-top: 0px; padding-bottom: 30px; height: auto; margin-top: 70px;}
	.banner .banner-image img {width: 50%; margin: -65px auto 0px}
	.banner h1 {font-size: 25px;}
	

	.responsive-box {align-items: center;}
	.respo-image {display: none;}
	.device-image {width: 15%; display: block; margin-right: 20px;}

	.xs-full {padding:0px;}

	.icon-box {width: 100%; flex-direction: column; align-items: center;}
	.icon-box .content {text-align: center; padding-left: 0px;}
	
	.feature-box {word-break: keep-all;}
	.contact-area form {flex-direction: column;}
	
	.experience > div {margin-bottom: 25px;} 
	.experience > div:last-child {margin-left: 25%;} 

	.industry li {flex-basis: 120px; height: 120px;}
	
	.section-image img {width: 70%; margin-bottom: 20px;}

	footer .text-right {text-align:center;}
	footer .lower {text-align: left;}

}


@media all and (max-width: 700px) {
	
	.industry li {flex-basis: 110px; height: 110px;}

	
}




@media all and (max-width: 600px) {
	
	section.our-experience .col-xs-6 {width: 100%;}
	.section.services .col-xs-6 {width: 100%;}
	
	.responsive .head-image {display: block;}
	}
	
	
	
@media all and (max-width: 480px) {

	.logo {padding: 10px 0px;}
	
	.section-image img{width: 90%;}
	section.services .col-xs-6 {width: 100%;}

	.experience .col-xs-6 {width: 100%;}
	.experience > div:last-child {margin-left: 0;} 
	
	.industry li {flex-basis: 100px; height: 100px;}
	
}
